.avatar {
  width: calc(3rem + 12px); /* 3rem = 48px + 12px = 60px */
  height: calc(3rem + 12px); /* 3rem = 48px + 12px = 60px */
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}
